.project-2 {
  .imgs-project {
    display: flex;
    justify-content: space-between;
    .img-projet {
      margin-top: 10vh;
      width: 45%;
    }
  }
  .reseaux {
    margin-top: 7vh;
    margin-bottom: 7vh;
  }
}
